# Assignment Day 8

## Team members:
- Samuel Nebgen s6sanebg@uni-bonn.de
- Muhammad Humza Arain s27marai@uni-bonn.de
- Julian Meigen s82jmeig@uni-bonn.de

## 17.09.2025

Contributions were made by all team members in around the same amount, either based on discussions or coding.

# Task 1: Understand the dataset

## a) Load the dataset Hungarian Chickenpox

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [16]:
path_time_series = os.path.join("..", "data", "raw", "hungary_chickenpox.csv")
path_graph = os.path.join("..", "data", "raw", "hungary_county_edges.csv")

df_time = pd.read_csv(path_time_series, index_col=0, )
df_time.index = pd.to_datetime(df_time.index, format="%d/%m/%Y")

In [18]:
df_time.head()

,BUDAPEST,BARANYA,BACS,BEKES,BORSOD,CSONGRAD,FEJER,GYOR,HAJDU,HEVES,JASZ,KOMAROM,NOGRAD,PEST,SOMOGY,SZABOLCS,TOLNA,VAS,VESZPREM,ZALA
Date,,,,,,,,,,,,,,,,,,,,
2005-01-03,168,79,30,173,169,42,136,120,162,36,130,57,2,178,66,64,11,29,87,68
2005-01-10,157,60,30,92,200,53,51,70,84,28,80,50,29,141,48,29,58,53,68,26
2005-01-17,96,44,31,86,93,30,93,84,191,51,64,46,4,157,33,33,24,18,62,44
2005-01-24,163,49,43,126,46,39,52,114,107,42,63,54,14,107,66,50,25,21,43,31
2005-01-31,122,78,53,87,103,34,95,131,172,40,61,49,11,124,63,56,7,47,85,60

## b) Identify the number of edges, nodes, and temporal features.

## c) Plot the adjacency matrix of the counties.

# Task 2: Load the dataset into pytorch-geometric-temporal.

## a) Load the dataset with the class: ChickenpoxDatasetLoader

## b) Identify the differences between loading the raw dataset from Task 1 and the processed dataset from this task.

# Task 3: Define a model using pytorch-geometric-temporal

## i. Split the dataset into train and test.


## ii. Train your model on the training dataset


## iii. Test your model on the test dataset and evaluate it for MSE.

# Task 4: Set up a hyperparameter optimization pipeline with nested 5-fold cross-validation.

## i. Familiarize yourself with the hyperparameter optimization package optuna (https://optuna.org/ ).

## ii. Integrate the logging package mlflow (https://mlflow.org/) to log your metrics.

## iii. Train and test your models and report the evaluation metrics with mean and standard deviation for the nested CV.

# Task 5: Test implementations of 3 different models (such as GConvLSTM, GConvGRU, STGCN, DCRNN) and find out the best performing model

# Task 6: Compare your results with the following study: https://arxiv.org/abs/2102.08100